<footer class="footer">
  <div class="social">
      <a href="https://www.facebook.com/alvenisj" class="icon-facebook">
          <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/alvenisj" class="icon-twitter">
          <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/alvenisj" class="icon-instagram">
          <i class="fa-brands fa-instagram-square"></i>
      </a>
      <a href="#" class="icon-googleplus">
          <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <a href="https://wa.me/573232914082?text=¡HOLA!%20necesito%20información" class="icon-whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
      </a>

     
  </div>
  <p class="copy">Alvenis Becerra Alvenisj - 2022 - <a class="footer-copy" href="#">Copyright &copy; all right reserved</a></p>
</footer>