<footer class="footer">
  <div class="social">
      <a href="#" class="icon-facebook">
          <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="#" class="icon-twitter">
          <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#" class="icon-instagram">
          <i class="fa-brands fa-instagram-square"></i>
      </a>
      <a href="#" class="icon-googleplus">
          <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <a href="#" class="icon-whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
      </a>

     
  </div>
  <p class="copy">Genericos Genalca - 2022 - <a class="footer-copy" href="#">Copyright &copy; Todos los derechos reservados</a></p>
</footer>