<!DOCTYPE html>
<html lang="en">
  <head>
    <!--INDEX PRINCIPAL DE LA PÁGINA--> 
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Portafolio</title>
  </head>
  
<body class="dark">

  <!--Cabecera de la página--> 
  <header class="header">
      <!--Contenedor del icono dark mode y el texto-->
           <div class="switches">
             <div id="toggle-theme" class="toggle-theme">
               <img id="toggle-theme__icon" class="toggle-theme__icon" src="assets/icons/moon.svg" alt="icon theme">
               <p id="toggle-theme__text" class="toggle-theme__text">Dark Mode</p>
             </div>
           </div>

          

        <!--Contenedor de los colores-->
        <div id="toggle-colors" class="colors">
          <div data-color="hsl(214, 84%, 56%)" class="colors__item colors__item--blue"></div>
          <div data-color="hsl(150, 84%, 56%)" class="colors__item colors__item--green"></div>
          <div data-color="hsl(0, 100%, 51%)" class="colors__item colors__item--red"></div>
          <div data-color="hsl(46, 84%, 56%)" class="colors__item colors__item--orange"></div>
        </div>

</header>

<!--Cuerpo principal de la página web--> 
<main class="main">

  <section class="column colum--left">
      <!--PROFILE CARD-->
    <article class="card card--profile">

           <div class="card__image-container">
             <img src="assets/images/hobbie.jpg" alt="">
           </div>

           <div class="card__header">
             <h2 class="card__title no-margin">Hello! My name is:Alvenis Becerra</h2>
             <p class="card__subtitle">Full Stack Developer</p>
           </div>

           

           <div class="card__body">
              <div class="card__link">
                <i class="fas fa-envelope icon"></i>
                <a href="mailto:Alvenisj@gmail.com">Alvenisj@gmail.com</a>
             </div>
          <div class="card__link">
              <i class="fas fa-phone-alt icon"></i>
              <a href="tel:3232914082">+57 323-2914082</a>
          </div>

            <p class="card__text" data-section="profile" data-value="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, aliquam. Fugit illo repellat modi, rem et deserunt dolorum fuga incidunt laudantium fugiat ad, saepe excepturi culpa error odit facilis ipsa perferendis beatae sed doloribus. Laborum a iste quisquam quae molestiae nisi quas quibusdam! Accusantium molestias, debitis ratione ipsum commodi tempore!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, aliquam. Fugit illo repellat modi, rem et deserunt dolorum fuga incidunt laudantium fugiat ad, saepe excepturi culpa error odit facilis ipsa perferendis beatae sed doloribus. Laborum a iste quisquam quae molestiae nisi quas quibusdam! Accusantium molestias, debitis ratione ipsum commodi tempore
            </p>

            <div class="card__body">
              <a href="#" class="hero__cta">Contáctame</a>
             </div>
    
    </article>
   
    <article class="card card--experience">
              
           <h2 class="card__title">Experiences</h2>

             <div class="experience">
                <img src="/assets/images/profile-f.jpeg" alt="logo" class="experience__image">
                  <div class="experience__info">
                          <p class="experience__time" data-section="experience" data-value="firs-job-dates">
                              Feb 2016 - Current
                         </p>
                         <h3 class="experience__job" data-section="experience" data-value= "firs-job-title">FullStack Developer</h3>
                         <p class="experience__description" data-section="experience" data-value= "firs-job-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quos, maiores, molestias aperiam reprehenderit voluptates suscipit quaerat nam fugit, vitae consectetur accusantium ad? Sit, similique laboriosam possimus porro officiis error.</p>
                  </div>
              </div>

              <div class="experience">
                <img src="/assets/images/profile-f.jpeg" alt="logo" class="experience__image">
                  <div class="experience__info">
                          <p class="experience__time" data-section="experience" data-value="second-job-dates">
                              Feb 2016 - Current
                         </p>
                         <h3 class="experience__job" data-section="experience" data-value="second-job-title">FullStack Developer</h3>
                         <p class="experience__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quos, maiores, molestias aperiam reprehenderit voluptates suscipit quaerat nam fugit, vitae consectetur accusantium ad? Sit, similique laboriosam possimus porro officiis error.</p>
                  </div>
              </div>

           <div class="experience">
            <img src="/assets/images/profile-f.jpeg" alt="logo" class="experience__image">
                <div class="experience__info">
                       <p class="experience__time" data-section="experience" data-value="last-job-dates">
                             Feb 2016 - Current
                      </p>
                      <h3 class="experience__job" data-section="experience" data-value="last-job-title">Programador</h3>
                      <p class="experience__description" data-section="experience" data-value="last-job-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quos, maiores, molestias aperiam reprehenderit voluptates suscipit quaerat nam fugit, vitae consectetur accusantium ad? Sit, similique laboriosam possimus porro officiis error.</p>
               </div>
          </div>

          <article class="card card--hobbies">
    
                    <h2 class="card__title">Hobbies</h2>
  
                     <div class="card__image-container">
                            <img src="/assets/images/hobbie.jpg" alt="Man on a bike">
                     </div>

                     <h3 class="hobbie__title">Biking</h3>
                     <p class="card__text">
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit blanditiis et reiciendis, distinctio incidunt nulla. A adipisci           nam, eum                 repellendus pariatur, laborum necessitatibus aspernatur alias dicta consequuntur similique mollitia           quasi?
                     </p>

          </article>


           <article class="card card--hobbies">

                   <div class="card__image-container">
                     <img src="/assets/images/hobbie.jpg" alt="Caminar">
                   </div>
                   <h3 class="hobbie__title">Caminar</h3>
                   <p class="card__text">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit blanditiis et reiciendis, distinctio incidunt nulla. A adipisci nam, eum            repellendus pariatur, laborum necessitatibus aspernatur alias dicta consequuntur similique mollitia quasi?
                   </p>

           </article>

    </article>

</section>

<!--SEGUNDA SECCIÓN DEL LADO DERECHO DE LA PÁGINA-->
<section class="column column--right">
    
  <article class="card">

    <h2 class="card__title">FrontEnd</h2>
    <small>Años de experiencia</small>
    <div class="skills"></div>

    <div class="skills__header">
        <span class="skills__start-level">0</span>   
        <span class="skills__start-level">5</span>
    </div>

    <div class="skills">

             <div class="skills__item">
               <p class="skills__tech">Javascript</p>
               <div class="skills__bar skills__bar--10"></div>
          </div>
          <div class="skills__item">
              <p class="skills__tech">React</p>
              <div class="skills__bar skills__bar--10"></div>
          </div>

           <div class="skills__item">
              <p class="skills__tech">Vue</p>
              <div class="skills__bar skills__bar--20"></div>
           </div>

           <div class="skills__item">
            <p class="skills__tech">Angular</p>
            <div class="skills__bar skills__bar--80"></div>
         </div>

          <div class="skills__item">
             <p class="skills__tech">Bootstrap</p>
             <div class="skills__bar skills__bar--90"></div>
         </div>
          <div class="skills__item">
             <p class="skills__tech">CSS</p>
             <div class="skills__bar skills__bar--90"></div>
         </div>
         <div class="skills__item">
           <p class="skills__tech">HTML5</p>
           <div class="skills__bar skills__bar--90"></div>
        </div>
        <div class="skills__item">
          <p class="skills__tech">EJS, HBS</p>
          <div class="skills__bar skills__bar--90"></div>
       </div>
    </div>

</article>


    <article class="card">

      <h2 class="card__title">BackEnd</h2>
      <small>Años de experiencia</small>
      <div class="skills"></div>

      <div class="skills__header">
          <span class="skills__start-level">0</span>   
          <span class="skills__start-level">5</span>
      </div>

      <div class="skills">

            <div class="skills__item">
                <p class="skills__tech">Node JS</p>
                <div class="skills__bar skills__bar--80"></div>
            </div>

            <div class="skills__item">
              <p class="skills__tech">Api Rest</p>
              <div class="skills__bar skills__bar--80"></div>
           </div>

             <div class="skills__item">
                <p class="skills__tech">C++</p>
                <div class="skills__bar skills__bar--80"></div>
             </div>

             <div class="skills__item">
              <p class="skills__tech">Python</p>
              <div class="skills__bar skills__bar--80"></div>
           </div>

           <div class="skills__item">
            <p class="skills__tech">Php</p>
            <div class="skills__bar skills__bar--90"></div>
          </div>

            <div class="skills__item">
               <p class="skills__tech">SQL</p>
               <div class="skills__bar skills__bar--90"></div>
           </div>
           <div class="skills__item">
               <p class="skills__tech">MongoDb</p>
               <div class="skills__bar skills__bar--90"></div>
           </div>
      </div>

</article>

<article class="card">

  <h2 class="card__title">Design UX/UI</h2>
  <small>Años de experiencia</small>
  <div class="skills"></div>

  <div class="skills__header">
      <span class="skills__start-level">0</span>   
      <span class="skills__start-level">5</span>
  </div>

  <div class="skills">

        <div class="skills__item">
            <p class="skills__tech">React</p>
            <div class="skills__bar skills__bar--80"></div>
        </div>

         <div class="skills__item">
            <p class="skills__tech">Vue</p>
            <div class="skills__bar skills__bar--80"></div>
         </div>

         <div class="skills__item">
          <p class="skills__tech">Vue</p>
          <div class="skills__bar skills__bar--80"></div>
       </div>

        <div class="skills__item">
           <p class="skills__tech">Java</p>
           <div class="skills__bar skills__bar--90"></div>
       </div>
  </div>

</article>


    <article class="card card--project">
      
           <div class="card__image-container">
               <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
           </div>
       <div class="project">

            <div class="project__tags">
                <span class="project__tag">#HTML</span>
                <span class="project__tag">#CSS</span>
                <span class="project__tag">#Javascript</span>
                <span class="project__tag">#Responsive</span>
            </div>

            <h2 class="card__title">Landing Page</h2>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
 
            <div class="buttons">
                <a href="#" class="button button--primary">Demo</a>
                <a href="#" class="button button--ghost">Code</a>
           </div>

       </div>

   
</article>

<article class="card card--project">
      
  <div class="card__image-container">
      <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
  </div>
<div class="project">

   <div class="project__tags">
       <span class="project__tag">#HTML</span>
       <span class="project__tag">#CSS</span>
       <span class="project__tag">#Javascript</span>
       <span class="project__tag">#Responsive</span>
   </div>

   <h2 class="card__title">Landing Page</h2>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>

   <div class="buttons">
       <a href="#" class="button button--primary">Demo</a>
       <a href="#" class="button button--ghost">Code</a>
  </div>

</div>


</article>

<article class="card card--project">
      
  <div class="card__image-container">
      <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
  </div>
<div class="project">

   <div class="project__tags">
       <span class="project__tag">#HTML</span>
       <span class="project__tag">#CSS</span>
       <span class="project__tag">#Javascript</span>
       <span class="project__tag">#Responsive</span>
   </div>

   <h2 class="card__title">Landing Page</h2>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>

   <div class="buttons">
       <a href="#" class="button button--primary">Demo</a>
       <a href="#" class="button button--ghost">Code</a>
  </div>

</div>


</article>

<article class="card card--project">
      
  <div class="card__image-container">
      <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
  </div>
<div class="project">

   <div class="project__tags">
       <span class="project__tag">#HTML</span>
       <span class="project__tag">#CSS</span>
       <span class="project__tag">#Javascript</span>
       <span class="project__tag">#Responsive</span>
   </div>

   <h2 class="card__title">Landing Page</h2>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>

   <div class="buttons">
       <a href="#" class="button button--primary">Demo</a>
       <a href="#" class="button button--ghost">Code</a>
  </div>

</div>


</article>

<article class="card card--project">
      
  <div class="card__image-container">
      <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
  </div>
<div class="project">

   <div class="project__tags">
       <span class="project__tag">#HTML</span>
       <span class="project__tag">#CSS</span>
       <span class="project__tag">#Javascript</span>
       <span class="project__tag">#Responsive</span>
   </div>

   <h2 class="card__title">Landing Page</h2>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>

   <div class="buttons">
       <a href="#" class="button button--primary">Demo</a>
       <a href="#" class="button button--ghost">Code</a>
  </div>

</div>


</article>

<article class="card card--project">
      
  <div class="card__image-container">
      <img class="card__image" src="/assets/images/projjj.jpg" alt="Landing Page">
  </div>
<div class="project">

   <div class="project__tags">
       <span class="project__tag">#HTML</span>
       <span class="project__tag">#CSS</span>
       <span class="project__tag">#Javascript</span>
       <span class="project__tag">#Responsive</span>
   </div>

   <h2 class="card__title">Landing Page</h2>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>
   <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt itaque voluptatem libero sunt quia, perferendis aperiam autem repellendus quasi veniam!</p>

   <div class="buttons">
       <a href="#" class="button button--primary">Demo</a>
       <a href="#" class="button button--ghost">Code</a>
  </div>

</div>


</article>

 </section>

</main>

<footer class="footer">
  <div class="social">
      <a href="#" class="icon-facebook">
          <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="#" class="icon-twitter">
          <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#" class="icon-instagram">
          <i class="fa-brands fa-instagram-square"></i>
      </a>
      <a href="#" class="icon-googleplus">
          <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <a href="#" class="icon-whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
      </a>

     
  </div>
  <p class="copy">Genericos Genalca - 2022 - <a class="footer-copy" href="#">Copyright &copy; Todos los derechos reservados</a></p>
</footer>


<section class="modal">
  
  <div class="modal__container">
     <a href="#" class="modal__close">
        <i class="fa-regular fa-circle-x">X</i>
    </a>
    <img src="/assets/images/modal.svg" class="modal__img">
    <h2 class="modal__title">¡Bienvenidos a mi Portafolio de Servicios!</h2>
    <p class="modal__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis nisi quibusdam doloremque expedita quae ipsam accusamus quisquam quas, culpa tempora. Veniam consectetur deleniti maxime.</p>
    <a href="https://wa.me/573232914082?text=¡HOLA!%20necesito%20información" class="contacto">
    <i class="fa-brands fa-whatsapp"></i>   Whatsapp</a>
    
    </a>
  </div>
</section>




<script src="https://kit.fontawesome.com/62e24d8987.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
